<app-navbar #navbar (scrollToSection)="scrollToSection($event)"></app-navbar>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="navbar.onScroll($event.detail.scrollTop)">

  <app-hero (scrollToSection)="scrollToSection($event)"></app-hero>
  <app-about [education]="education"></app-about>
  <app-experience [experiences]="experiences"></app-experience>
  <app-stack [stack]="stack"></app-stack>
  <app-projects [projects]="projects"></app-projects>
  <app-contact></app-contact>
  <app-footer></app-footer>

</ion-content>
